.git
.gitignore
.github
.playwright-mcp
.tmp
.venv
.vscode
.idea

chrome-extension/
docs/
infra/

.dockerignore
.editorconfig
.env
.env.example
.golangci.toml

README.md
DEPLOY-INSTRUCTIONS.md
docker-compose.yml

portfolio-server

*.log
*.tmp
node_modules/
tmp/
