services:
  portfolio:
    build:
      context: .
      dockerfile: Dockerfile
    image: portfolio-app:latest
    container_name: portfolio-app
    ports:
      - "8080:8080"
    restart: unless-stopped
