
example{
  --color-brick-ember-50: #ffe5e5;
  --color-brick-ember-100: #ffcccc;
  --color-brick-ember-200: #ff9999;
  --color-brick-ember-300: #ff6666;
  --color-brick-ember-400: #ff3333;
  --color-brick-ember-500: #ff0000;
  --color-brick-ember-600: #cc0000;
  --color-brick-ember-700: #990000;
  --color-brick-ember-800: #660000;
  --color-brick-ember-900: #330000;
  --color-brick-ember-950: #240000;

  --color-amber-flame-50: #fff8e5;
  --color-amber-flame-100: #fff1cc;
  --color-amber-flame-200: #ffe299;
  --color-amber-flame-300: #ffd466;
  --color-amber-flame-400: #ffc533;
  --color-amber-flame-500: #ffb700;
  --color-amber-flame-600: #cc9200;
  --color-amber-flame-700: #996e00;
  --color-amber-flame-800: #664900;
  --color-amber-flame-900: #332500;
  --color-amber-flame-950: #241a00;

  --color-steel-blue-50: #ebf3f9;
  --color-steel-blue-100: #d8e7f3;
  --color-steel-blue-200: #b0cfe8;
  --color-steel-blue-300: #89b7dc;
  --color-steel-blue-400: #629fd0;
  --color-steel-blue-500: #3b86c4;
  --color-steel-blue-600: #2f6c9d;
  --color-steel-blue-700: #235176;
  --color-steel-blue-800: #17364f;
  --color-steel-blue-900: #0c1b27;
  --color-steel-blue-950: #08131b;

  --color-deep-space-blue-50: #e7f5fe;
  --color-deep-space-blue-100: #ceebfd;
  --color-deep-space-blue-200: #9ed7fa;
  --color-deep-space-blue-300: #6dc3f8;
  --color-deep-space-blue-400: #3caff6;
  --color-deep-space-blue-500: #0b9bf4;
  --color-deep-space-blue-600: #097cc3;
  --color-deep-space-blue-700: #075d92;
  --color-deep-space-blue-800: #053e61;
  --color-deep-space-blue-900: #021f31;
  --color-deep-space-blue-950: #021622;

  --color-blue-spruce-50: #e9fbf9;
  --color-blue-spruce-100: #d3f8f3;
  --color-blue-spruce-200: #a8f0e7;
  --color-blue-spruce-300: #7ce9da;
  --color-blue-spruce-400: #51e1ce;
  --color-blue-spruce-500: #25dac2;
  --color-blue-spruce-600: #1eae9b;
  --color-blue-spruce-700: #168374;
  --color-blue-spruce-800: #0f574e;
  --color-blue-spruce-900: #072c27;
  --color-blue-spruce-950: #051f1b;
}
